@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoC1CzjvWyNL4U.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

body{
    background-color: #cefffa ;
    background-image: url('assets/Backgroundtop.jpg');
    background-repeat: no-repeat;
    background-size:100% 1000px;
 
}

h1{
    /* border: 2px solid red; */
    font-family:monospace;
    color: rgb(177, 245, 250);
    text-align: center;
    font-size: 100px;
    padding-top: 15%;
}
table{
    /* border: 2px solid red; */
    margin-top: 10%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
th, h2, .githeader{
    /* border: 2px solid red; */
    text-decoration: underline;   
    font-family: monospace;
    font-size: 75px;
    color: rgb(161, 219, 223);
}
.img{
    /* border: 2px solid red; */
    margin: 10px;
    margin-top: 70px;
    max-width: 40%;
    max-height: auto;
}
h2{
    /* border: 2px solid red; */
    text-align: center;
    padding-top: 30%;
}
.aboutme{
    /* border: 2px solid red; */
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    color: rgb(51, 201, 206);
    margin-left: 30%;
    margin-right: 30%;
}
.profilepic{
    /* border: 2px solid red; */
    border: 10px solid  #83fff3;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;  
    height: auto;  
}
.Hey{
    /* border: 2px solid red; */
    font-family: monospace;
    font-size: 500px;
    text-align: center;
    color: rgb(110, 149, 231);
    text-shadow: 20px 10px 20px rgb(75, 111, 189);
    

}
.discription{
    /* border: 2px solid red; */
    font-family: monospace;
    font-size: 20px;
    text-align: center; 
}
.githeader{
    text-align: center;
}
.gitname{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 5px solid rgb(107, 201, 255);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    background-color:#cefffa;
    font-family: monospace;
    font-size: 15px;
    
}
.gitname:hover{
    box-shadow: 4px 4px 0 #85fff3;
    transform: translate(-4px,-4px);
}
.gitemail{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 5px solid rgb(107, 201, 255);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    background-color:#cefffa;
    font-family: monospace;
    font-size: 15px;
    
}
.gitemail:hover{
    box-shadow: 4px 4px 0 #85fff3;
    transform: translate(-4px,-4px);
}
.gitmsg{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 5px solid rgb(107, 201, 255);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    height: 150px;
    background-color:#cefffa;
    font-family: monospace;
    font-size: 15px;
}
.gitmsg:hover{
    box-shadow: 4px 4px 0 #85fff3;
    transform: translate(-4px,-4px);
}
.gitsubmit{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color:#00000000;
    border: 5px solid rgb(107, 201, 255);
    border-radius: 10px;
    font-size: 20px;
    font-family: monospace;
    color:#757575;
}
.gitsubmit:hover{
    box-shadow: 4px 4px 0 #85fff3;
    transform: translate(-4px,-4px);
}
.bottomtext{
    font-size: 15px;
    font-family: monospace;
    color:#757575;
    margin: 50px;
    margin-top: 75px;
    text-align: center;
}
