@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoC1CzjvWyNL4U.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

body{
    background-image: url(Backgroundtop.jpg);
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    background-color: #cefffa ;
}
h1{
    font-family:monospace;
    color: rgb(177, 245, 250);
    text-align: center;
    font-size: 100px;
    padding-top: 15%;
}
table{
    border: 2px solid greenyellow;
    margin-top: 33%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
th{
    font-family: monospace;
    font-size: 75px;
}